@model ExtensionOfficer
<div class="list-group-flush list-group mt-3" style="width:100%">
  @*  <a href="@Url.Index("Cattle",new { MCCID=Model.ID})" class="list-group-item list-group-item-light justify-content-between d-flex align-items-center"><div>Dairy cattle</div><span class="badge badge-info">$ @Model.Cattle.Count()</span></a>*@
</div>