
@{
    ViewBag.Title = "Success";
}

<div class="alert alert-success">
    <h4><i class="mdi mdi-check-circle-outline"></i> Transaction completed successfully!</h4>
    <a href="@Url.Index("Payments")" class="btn btn-outline-info">View payments</a>
</div>

